@import url("style.css");

a.menu-link {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #ffffff56;
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #2d415b;
  border-radius: 8px;
  height: 100vh;
  width: 80vw;
  left: 18%;
  padding: 1.5rem;
  /* display: none; */
}

.menu-icon {
  background-color: #5081fb29;
  border-radius: 16px;
  padding: 1rem 0.87rem;
  margin-right: 1rem;
}

.user-img {
  padding: 0.75rem;
  padding-right: 0.5rem;
}

.account-link {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--color-one);
}

.menu-divider {
  border-top: 2px solid #ffffff10;
  margin: 0.5rem 0 1.5rem;
}
