@import url("style.css");

nav {
    margin: 0 3%;
}

#search-bar {
  background: var(--color-two);
  color: var(--color-one);
  padding: 1rem;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo-img,
.nav-link {
  padding: 1rem;
}

.nav-items,
.logo-img {
  /* display: none; */
}

.search-img {
  padding-top: 0.15rem;
}

.search-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.7rem;
  padding: 0 5%;
  display: none;
}

.close-btn {
  padding-left: 1rem;
}

@media screen and (min-width: 768px) {

    #search-bar {
        margin-bottom: 0.5rem;
    }

    .search-img,
    .close-btn {
      display: none;
    }

    .search-container {
        display: flex;
    }

    .logo-img,
    .nav-link {
         padding: 1rem 0;
    }

  }