.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo-img {
    padding: 1rem;
}

.nav-item {
    padding: 1rem;
}