@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap');
 
 body {
    background-color: #051D3B;
    margin: 0;
    padding: 0;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    resize: none;
    height: 100%;
    width: 100%
}

textarea, input:focus {
    outline: none;
}

#code-block {
    background: #141414;
    color: #FFFFFF;
    border-style: none;
    font-family: "Roboto Mono", monospace;
    font-size: 0.875rem;
    text-align: justify;
    overflow: hidden;
}

#code-block:focus {
    outline:none;
}

#project-title {
    background: #FFFFFF29;
    border-style: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
}

#project-desc {
    background: #FFFFFF29;
    border-style: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    height: 70%;
}

.editor-border {
    background-color: #6BD1FF;
    border-radius: 8px;
    padding: 2rem;
    margin: 5% 3%;
}

.code-frame {
    background-color: #141414;
    border-radius: 8px;
    padding: 0.7rem 1rem 1rem;
}

.container-code {
    height: 60vh;
    margin-top: 0.2rem;
}

.editor-highlight {
    padding: 3%;
}

.highlight-button {
    background-color: #5081FB14;
    color: #FFFFFF;
    border-style: none;
    border-radius: 8px;
    width: 100%;
    padding: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.project-info {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.project-label {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.flex-gap {
    margin: 8px 0;
}